/* Taken entirely from starter code by Professor Kate Compton */

body,html {
  width: 100%;
  height: 100%
}

#controls {
  position: absolute;
  top: 0px;
  left:0px;
  width: 300px;
  height: 100px;
  border-radius: 0px 0px 15px 0px;
  background: hsla(0, 100%, 100%, .3);
  color: white;
}